.ipynb_checkpoints

Graphing_functions_and_sequences.ipynb
Graphing_functions_and_sequences_solutions.ipynb
Graphing_functions_and_sequences_solutions.pdf
Introduction_to_Python.pdf
Introduction_to_Python_solutions.pdf
Jupyter_Notebook_Intstructions.txt
Logistic_Regression_and_Optimization.pdf
Logistic_Regression_and_Optimization_solutions.ipynb
The_Newton_Raphson_Method_solutions.ipynb
The_Newton_Raphson_Method_solutions.pdf
